h1 {
  text-align: center;
}

#selfie {
  border-radius: 5%;
}

.row {
  padding-top: 50px;
}

#footer-copyright {
  text-align: center;
  padding: 20px;
}

#summit-logo {
  border-radius: 10%;
}

#entire-screen {
  background-repeat: no-repeat;
}

.footer-border-top {
  border-top: 2px solid lightgray;
  margin-top: 20px;
}

.row {
  padding-left: 20px;
  padding-right: 20px;
  background-color: white;
}

.opacity90 {
  background: rgba(255, 255, 255, 0.90);
}

.opacity95 {
  background: rgba(255, 255, 255, 0.95);
}

#about {
  background: rgba(255, 255, 255, 0.4)!important;
}

#no-margin-x {
  margin-left: 0px;
  margin-right: 0px;
}

#contact-form {
  background: rgba(255, 255, 255, 0.95);
}